<?xml version="1.0" encoding="UTF-8"?>
<site>
   <description url="http://updates.idldev.com/">
      idldev.com updates
   </description>
   <feature url="features/com.idldev.idl.idldoc.feature_[% version %].jar" id="com.idldev.idl.idldoc.feature" version="[% version %]">
      <category name="Projects"/>
   </feature>
   <category-def name="Projects" label="IDL code projects"/>
</site>
