<?xml version="1.0"?>
<!DOCTYPE part PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN"
               "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd" [
[% FOREACH d IN dirs %][% SCOPE d %]
<!ENTITY [% name %] SYSTEM "[% location %]dir-overview.xml">
[% END %][% END %]
]>

<part><title>API</title>
                   
[% FOREACH d IN dirs %][% SCOPE d %]
&[% name %];
[% END %][% END %]

</part>
