<div class="footer">

  <table class="smaller">
    <tr>
      <td class="left">Produced by IDLdoc [% idldoc_version %] on [% date %]</td>
      <td class="right">Report bugs to: <a href="mailto:idldoc@idlddev.com">idldoc@idldev.com</a></td>
    </tr>
  </table>

</div>