<div class="footer">

  <table class="smaller">
    <tr>
      <td class="left">Produced by IDLdoc [% idldoc_version %] on [% date %]</td>
      <td class="right"><a href="http://idldev.com/idldoc">For updates, feature requests, and bug reports</a></td>
    </tr>
  </table>

</div>