<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Help ([% title %])</title>

    [% IF embed %]
    <style type="text/css" media="all">
      [% INCLUDE css_location %]
    </style>
    <style type="text/css" media="print">
      [% INCLUDE print_css_location %]
    </style>
    [% ELSE %]
    <link rel="stylesheet" type="text/css" media="all" 
          href="idldoc-resources/main.css" />
    <link rel="stylesheet" type="text/css" media="print" 
          href="idldoc-resources/main-print.css" />
    [% END %]
    
    <script type="text/javascript">
      function setTitle() {
        parent.document.title="Help ([% title %])";
      }
    </script>
  </head>
    
  <body onload="setTitle();">
    [% INCLUDE_TEMPLATE idldoc_header_location %]
    
    <div class="content">
    	
    	<div id="calling">
    		<h2>Calling IDLdoc</h2>
    	
    		<p>To install IDLdoc, simply unzip and place the IDLdoc distribution in your IDL path. Do not separate the contents of the distribution; the code looks for files in locations relative to itself.</p>
    		
    		<p>A typical call to IDLdoc is: <code class="listing">IDL> idldoc, root='~/projects/mylib', output='~/projects/mylib-docs'</code> This searches for .pro and .sav files in subdirectories of '~/projects/mylib' and places the output in '~/projects/mylib-docs'. The starting page for the output will be '~/projects/mylib-docs/index.html'.</p>

				<p>There are quite a few keywords to IDLdoc to set various specifications for the output. Further customization can be done through the templates (described in the <a href="#customizing">"Producing customized output"</a> section).</p>
				
				<table class="small">
			    <tr>
			      <td class="name">ROOT</td>
			      <td>root of directory hierarchy to document</td>
			    </tr>

			    <tr>
			      <td class="name">OUTPUT</td>
			      <td>directory to place output</td>
			    </tr>

			    <tr>
			      <td class="name">QUIET</td>
			      <td>if set, don't print info messages, only print warnings and errors</td>
			    </tr>
			    
			    <tr>
			      <td class="name">N_WARNINGS</td>
			      <td>set to a named variable to return the number of warnings for the</td>
			    </tr>			    
			    
			    <tr>
			      <td class="name">ERROR</td>
			      <td>set to a named variable to return the error state of the IDLdoc call; 0 indicates no error, anything else is an error</td>
			    </tr>
			    
			    <tr>
			      <td class="name">LOG_FILE</td>
			      <td>if present, send messages to this filename instead of stdout</td>
			    </tr>
			    			    
			    <tr>
			      <td class="name">ASSISTANT</td>
			      <td>set to generate docs in IDL Assistant format</td>
			    </tr>

			    <tr>
			      <td class="name">EMBED</td>
			      <td>embed CSS stylesheet instead of linking to it (useful for documentation where individual pages must stand by themselves)</td>
			    </tr>
			    
			    <tr>
			      <td class="name">OVERVIEW</td>
			      <td>filename of overview text and directory information</td>
			    </tr>

			    <tr>
			      <td class="name">FOOTER</td>
			      <td>filename of file to insert into the bottom of each page of docs</td>
			    </tr>

			    <tr>
			      <td class="name">TITLE</td>
			      <td>title of docs</td>
			    </tr>

			    <tr>
			      <td class="name">SUBTITLE</td>
			      <td>subtitle for docs</td>
			    </tr>

			    <tr>
			      <td class="name">NONAVBAR</td>
			      <td>set to not display the navbar</td>
			    </tr>

			    <tr>
			      <td class="name">NOSOURCE</td>
			      <td>don't put source code into output</td>
			    </tr>

			    <tr>
			      <td class="name">USER</td>
			      <td>set to generate user-level docs (private parameters, files are not shown); the default is developer-level docs showing files and parameters</td>
			    </tr>

			    <tr>
			      <td class="name">STATISTICS</td>
			      <td>generate complexity statistics for routines</td>
			    </tr>

			    <tr>
			      <td class="name">FORMAT_STYLE</td>
			      <td>style to use to parse file and routine comments ("idl", "idldoc", "verbatim", or "rst"); default is "idldoc"</td>
			    </tr>

			    <tr>
			      <td class="name">MARKUP_STYLE</td>
			      <td>markup used in comments ("rst" or "verbatim"); default is "verbatim"</td>
			    </tr>	
			    
			    <tr>
			      <td class="name">COMMENT_STYLE</td>
			      <td>output format for comments ("html", "rst", or "latex"); default is "html"</td>
			    </tr>			    

			    <tr>
			      <td class="name">TEMPLATE_PREFIX</td>
			      <td>prefix for template's names</td>
			    </tr>
			    
			    <tr>
			      <td class="name">TEMPLATE_LOCATION</td>
			      <td>set to directory to find templates in</td>
			    </tr>
			    			    			    
			    <tr>
			      <td class="name">PREFORMAT</td>
			      <td>obsolete; no longer used</td>
			    </tr>	
			    
			    <tr>
			      <td class="name">BROWSE_ROUTINES</td>
			      <td>obsolete; no longer used</td>
			    </tr>			    		    		    
        </table>
      				    
    	</div>
    	
    	<div id="commenting">
    		<h2>Commenting your code</h2>
    	
    		<p>IDLdoc now accepts three different styles of commenting: the traditional IDL provided comment template, IDLdoc style, copied verbatim, or a restructured text style. The style to use can be specified with the format_style keyword to IDLdoc (for a global default) or on each individual file with a docformat comment. Furthermore, the markup styles for comments on files, routines, parameters, and other miscellaneous places are: restructured text or verbatim. The markup styles are specified via the markup_style keyword to IDLdoc or using the docformat comment.</p>
    		
    		<h3>IDLdoc format</h3>
    		
    		<p>Tags must be the first non-whitespace character on the line. For tags with arguments, all arguments must be on the first line.</p>
    		
    		<h3>IDL format</h3>
    		
    		<h3>Restructured text format</h3>
    		
    		<p>Tags must be the first non-whitespace character on the line. For tags with arguments, all arguments must be on the first line. Indentation is significant.</p>
    	</div>
    	
    	<div id="customizing">  
    		<h2>Producing customized output</h2>
    	
    		<p>IDLdoc uses text file templates to create its output. These can be customized to produce any kind of text output: HTML, LaTeX, DocBook, restructured text, etc. The templates are located in the "templates" directory of the distribution.</p>
    	</div>

      [% IF footer ne '' %][% INCLUDE_TEMPLATE footer %][% END %]
		</div>    

    [% INCLUDE_TEMPLATE idldoc_footer_location %]
  </body>
</html>