<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Help ([% title %])</title>

    [% IF embed %]
    <style type="text/css" media="all">
         [% INCLUDE css_location %]
    </style>
    <style type="text/css" media="print">
         [% INCLUDE print_css_location %]
    </style>
    [% ELSE %]
    <link rel="stylesheet" type="text/css" media="all" 
          href="idldoc-resources/main.css" />
    <link rel="stylesheet" type="text/css" media="print" 
          href="idldoc-resources/main-print.css" />
    [% END %]
    
    <script type="text/javascript">
      function setTitle() {
        parent.document.title="Help ([% title %])";
      }
    </script>
  </head>
    
  <body onload="setTitle();">
    [% INCLUDE_TEMPLATE idldoc_header_location %]
    
    <div class="content">
    	
    	<div id="calling">
    		<h2>Calling IDLdoc</h2>
    	
    		<p>To install IDLdoc, simply unzip and place the IDLdoc distribution in your IDL path. A typical call to IDLdoc is: <code class="listing">IDL> idldoc, root='~/projects/idllib', output='~/projects/libdocs'</code></p>

				<p>A full listing of keywords.</p>
    	</div>
    	
    	<div id="commenting">
    		<h2>Commenting your code</h2>
    	
    		<p>IDLdoc now accepts three different styles of commenting: the traditional IDL provided comment template, IDLdoc style, copied verbatim, or a restructured text style. The style to use can be specified with the format_style keyword to IDLdoc (for a global default) or on each individual file with a docformat comment. Furthermore, the markup styles for comments on files, routines, parameters, and other miscellaneous places are: restructured text or verbatim. The markup styles are specified via the markup_style keyword to IDLdoc or using the docformat comment.</p>
    		
    		<h3>IDLdoc format</h3>
    		
    		<p>Tags must be the first non-whitespace character on the line. For tags with arguments, all arguments must be on the first line.</p>
    		
    		<h3>IDL format</h3>
    		
    		<h3>Restructured text format</h3>
    		
    		<p>Tags must be the first non-whitespace character on the line. For tags with arguments, all arguments must be on the first line. Indentation is significant.</p>
    	</div>
    	
    	<div id="customizing">  
    		<h2>Producing customized output</h2>
    	
    		<p>IDLdoc uses text file templates to create its output. These can be customized to produce any kind of text output: HTML, LaTeX, DocBook, restructured text, etc. The templates are located in the "templates" directory of the distribution.</p>
    	</div>

      [% IF footer ne '' %][% INCLUDE_TEMPLATE footer %][% END %]
		</div>    

    [% INCLUDE_TEMPLATE idldoc_footer_location %]
  </body>
</html>