<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Help ([% title %])</title>

    [% IF embed %]
    <style type="text/css" media="all">
         [% INCLUDE css_location %]
    </style>
    <style type="text/css" media="print">
         [% INCLUDE print_css_location %]
    </style>
    [% ELSE %]
    <link rel="stylesheet" type="text/css" media="all" 
          href="idldoc-resources/main.css" />
    <link rel="stylesheet" type="text/css" media="print" 
          href="idldoc-resources/main-print.css" />
    [% END %]
    
    <script type="text/javascript">
      function setTitle() {
        parent.document.title="Help ([% title %])";
      }
    </script>
  </head>
    
  <body onload="setTitle();">
    [% INCLUDE_TEMPLATE idldoc_header_location %]
    
    <div class="content">
    
    	<h1>Help</h1>
    	
    	<h2>Calling IDLdoc</h2>
    	
    	<p>To install IDLdoc, simply unzip and place the IDLdoc distribution in your IDL path. A typical call to IDLdoc is: <code class="listing">IDL> idldoc, root='~/projects/idllib', output='~/projects/libdocs'</code></p>
    	
    	<h2>Commenting your code</h2>
    	
    	<p>IDLdoc now accepts three different styles of commenting: the traditional IDL provided comment template, IDLdoc style, or a restructured text style.</p>
    	  
    	<h2>Producing customized output</h2>
    	
    	<p>IDLdoc uses text file templates to create its output. These can be customized to produce any kind of text output: HTML, LaTeX, DocBook, restructured text, etc. The templates are located in the "templates" directory of the distribution.</p>
    	
		</div>    

    [% INCLUDE_TEMPLATE idldoc_footer_location %]
  </body>
</html>