<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Index ([% title %])</title>

    [% IF embed %]
    <style type="text/css" media="all">
      [% INCLUDE css_location %]
    </style>
    <style type="text/css" media="print">
      [% INCLUDE print_css_location %]
    </style>
    [% ELSE %]
    <link rel="stylesheet" type="text/css" media="all" 
          href="idldoc-resources/main.css" />
    <link rel="stylesheet" type="text/css" media="print" 
          href="idldoc-resources/main-print.css" />
    [% END %]
    
    <script type="text/javascript">
      function setTitle() {
        parent.document.title="Index ([% title %])";
      }
    </script>
  </head>
    
  <body onload="setTitle();">
    [% INCLUDE_TEMPLATE idldoc_header_location %]
    
    <div class="content">
    
    	<h2>Index</h2>
    	
    	<p>[% FOREACH letter IN index_first_letters %]<a href="#[% letter %]">[% letter %]</a> &nbsp;&nbsp;&nbsp; [% END %]</p>
    	
    	[% FOREACH letter IN index_first_letters %]
    	<h3 id="[% letter %]">[% letter %]</h3>    	
    	  <dl>
    	  [% FOREACH item IN system->getIndexEntries(letter) %][% SCOPE item %]
    	    <dt><a href="[% index_url %]">[% index_name %]</a><dt>
    	    <dd>[% index_type %]</dd>
    	  [% END %][% END %]
    	  </dl>
    	[% END %]
    	
    	[% IF footer ne '' %][% INCLUDE_TEMPLATE footer %][% END %]
		</div>    

    [% INCLUDE_TEMPLATE idldoc_footer_location %]
  </body>
</html>