<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Warnings ([% title %])</title>

    [% IF embed %]
    <style type="text/css" media="all">
         [% INCLUDE css_location %]
    </style>
    <style type="text/css" media="print">
         [% INCLUDE print_css_location %]
    </style>
    [% ELSE %]
    <link rel="stylesheet" type="text/css" media="all" 
          href="idldoc-resources/main.css" />
    <link rel="stylesheet" type="text/css" media="print" 
          href="idldoc-resources/main-print.css" />
    [% END %]
    
    <script type="text/javascript">
      function setTitle() {
        parent.document.title="Warnings ([% title %])";
      }
    </script>
  </head>
    
  <body onload="setTitle();">
    [% INCLUDE_TEMPLATE idldoc_header_location %]
    
    <div class="content">
    
    	<h2>Warnings</h2>
    	
		</div>    

    [% INCLUDE_TEMPLATE idldoc_footer_location %]
  </body>
</html>