/* Default font for body text */
BODY {
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial
}

/* Default font for text in tables */
TD {
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial
}

/* Format for body of all files */
BODY.standard {
    BACKGROUND-IMAGE: none;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: white
}

TABLE.listing {
    WIDTH: 100%
}
TD.title {
    FONT-SIZE: 14pt;
    FONT-WEIGHT: 500;
    BACKGROUND: #ccccff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

TR.small_title {
    FONT-WEIGHT: bold;
    BACKGROUND: #eeeeff;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}

/***** Navbar stuff *****/

/* Formatting for the row with the labels */
TR.navbar {
    FONT-WEIGHT: bold;
    BACKGROUND: #ddddff;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}

/* Formatting for the table cell that is currently selected */
TD.navbar_selected {
    FONT-WEIGHT: bolder;
    BACKGROUND-IMAGE: none;
    COLOR: white;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: darkblue
}

/* Formatting for the text that allows cycling through files and finding details vs. summary */
TD.navbar_small {
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    TEXT-TRANSFORM: lowercase;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}

/* Formatting for Research System's logo */
FONT.logo {
    FONT-SIZE: 16pt;
    TEXT-TRANSFORM: uppercase;
    FONT-FAMILY: Georgia, 'Times New Roman', serif
}

/* Formatting for IDL version and User/Developer Documentation tag */
FONT.version {
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}

/* Formatting for directory name on a file page */
FONT.directory {
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}

/* Formatting for a file name on a file page */
FONT.file {
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    FONT-FAMILY: Helvetica, sans-serif
}

/* Formatting for line at bottom of page indicating version of IDLdoc */
FONT.tagline {
    FONT-SIZE: 9pt;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}

FONT.code {
    FONT-SIZE: 10pt;
    FONT-FAMILY: 'Courier New', monospace
}

/* Format for the attributes to a parameter or keyword in the table of parameters and keywords in the routine details */
.param_attrib {
    FONT-WEIGHT: 200;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}

/* Format for a parameter or keyword name in the table of parameters and keywords in the routine details */
FONT.param_name {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}

TD.listing {
/*    BORDER-RIGHT: 1px groove;
    BORDER-TOP: 1px groove;
    BORDER-LEFT: 1px groove;
    BORDER-BOTTOM: 1px groove */
}

FONT.list {
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

FONT.list_title {
    FONT-WEIGHT: bold;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

/* Font for the number of files or directories in the side frames */
FONT.list_tagline {
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}

P.code_header {
    FONT-SIZE: 10pt;
    MARGIN-TOP: 0pt;
    MARGIN-BOTTOM: 0pt;
    MARGIN-LEFT: 30pt;
    TEXT-INDENT: -30pt;
    FONT-FAMILY: 'Courier New', monospace
}

P.first_line {
    MARGIN-TOP: 3pt;
    MARGIN-BOTTOM: 0pt;
    MARGIN-LEFT: 15pt
}

H3.routine {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

/* Formatting for the attributes of a routine */
DT.attribute {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Helvetica, sans-serif
}
